/* -----------font style --------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




 /* ---common style --- */
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    
}

/*------------ container + banner section--------- */
.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

.homepage{
    display: flex;
    background-color: #2D25A0; 
    max-width: 1440px;
    max-height: 677px;  
       
}



.homepage-title{
    width: 485px;
    height: 230px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;
    
}
.homepage-text{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 27px;
    
    
}


.button{ 
    display: flex;
    background: #E02C6D;
    width: 168px;
    height: 44px; 
    gap: 8px;
    justify-content: center;
    align-items: center;
    /* margin-top: 27px; */
    margin-bottom: 169px;
}
.button i {
    transition: 0.5s ease-in; 


}
.button:hover i {
    transition: .5s ease-in-out;
    padding: 5px; 
    color: goldenrod;
    font-size: 18px;
    left: 5px;
   
}
#button-id{
    
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
   
    
}
.fa-arrow-right{
    position: relative;
    justify-content: center;
    align-items: center;
    
    
}
.banner-image{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
    margin-right: 141px;
    margin-top: 153px;
    margin-bottom: 86px;
    
    
       
}
.homepage-banner:hover .banner-image{
    background-image: url("https://wallpapercave.com/wp/wp3671189.jpg");
    transform: translate(50px, 80px);
    transition: 4s ease-in-out ; 
    
    
}

/* player section */
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 27px;
    padding: 15px;
}
.player-info-card{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 300px;
    height: 426px;
}
.player-pic{
    width: 300px;
    height: 256px;
}

/* ---------top scorer section----------- */
.top-scorer-title{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 27px;
    padding: 15px;
    justify-content: center;
    text-align: center;
    width: 1050px;
    height: 1150px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 2%;

}
.top-scorer-title p {
    font-size: 18px;
    font-weight: 500;
}
.top-player-img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
/* ------champions section------ */
.champions{
    max-height: 650px;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#champion-img{
    width: 660px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 360px;
    margin-right: 210px;
    margin-top: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 2%;
}
.description{
    margin-left: 500px;
    margin-right: 210px;
    padding: 15px;
}
.description p{
    font-size: 16px;
    font-weight: 500;
}
/*--------- footer section ------ */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 460px;
    margin-right: 500px;
    margin-bottom: 53px;
   

}

.footer-logo{
    width: 480px;
    height: 102px;
    margin: 20px 0px;
    padding: 5px;
}
.social-icon{
    display: flex;
    flex-direction: row;
    
}
.fab {
    width: 32px;
    height: 32px;
    padding: 5px;
    
}

/* end */

